<app-e-header></app-e-header>

  <!--Leader Board-->
  <div class="container" id="mycontainer" style="background-color: white;">
    <div class="row">
      <div class="col-md-12 col-xl-12">
      <table class="table">
    <thead>
      <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Number of Referrals</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>INT1140</td>
        <td>John</td>
        <td>7</td>
      </tr>
      <tr>
        <td>INT1150</td>
        <td>Mary</td>
        <td>5</td>
      </tr>
    </tbody>
  </table>
      </div>
    </div>
    </div>
