<app-r-header></app-r-header>

<!--New Referrals-->
<div class="container" id="mycontainer">
  <div class="row">
    <div class="col-md-12 col-xl-3">
       <div class="card m-b-30">
          <div class="card-body" style="text-align: center;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item"><b>Nithya B</b></li>
           </ul>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><b>Email:</b> nithya2200@gmail.com </li>
            <li class="list-group-item"><b>Resume:</b><span style="margin-left: 10px;"><a style="background-color: #696969;padding: 5px;color: black;">VIEW</a></span></li>
            <li class="list-group-item"><i class="float-right"></i><b>Role:</b> Software Engineer</li>
            <li class="list-group-item"><i class="float-right"></i><b>Location:</b> Bangalore</li>
          </ul>
          <div class="card-body" style="text-align: center;">
            <div class="btn-group btn-group-sm">
             <a style="background-color: #09f344;padding: 5px;color: black;" class="btn btn-primary tooltips" data-placement="top" data-original-title="Refer">ACCEPT</a>
            </div>
            <div class="btn-group btn-group-sm" style="margin-left: 10px;">
              <a style="background-color: #e20707;padding: 5px;color: black;" class="btn btn-primary tooltips" data-placement="top" data-original-title="Refer">REJECT</a>
             </div>
         </div>
       </div>
    </div>
  </div>
  </div>
